@import "tailwindcss";

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.4s ease-out forwards;
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-out-left {
  animation: slide-out-left 0.4s ease-in forwards;
}


::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #3F3F46;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563EB;
}

::-webkit-scrollbar-track {
  background-color: #A1A1AA;
}
